import

body {
  font-family: "Monospace", Monaco;
  background-color: linear-gradient;
  text-align: center;
  color: white; 
}

h1,h2 {
      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
            font-size: 2.5em;
        }
 img {
            height: 100px;
            border-radius: 10px;
            transition: transform 0.3s;
            border: 3px solid #ffcc00;
        }
 img:hover {
            transform: scale(1.1) rotate(5deg);
            border-color: #ff512f;
        }
  
